/* block specific CSS goes here */

main .hero-container > div {
    max-width: unset;
}
  
main .hero-container {
    padding: 0;
}
  
main .hero {
    position: relative;
    padding: 0px 110px;
    min-height: 100vh;
    margin-top: -25px;
}

main .hero h1 {
    max-width: 200px;
    color: #231f20;
    padding-top: 20vh;
    margin-bottom: 0;
}

h2{
    max-width: 280px;
    font-size: 30px;
    margin-top: 0;
}


main .hero picture {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    box-sizing: border-box;
}

main .hero img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}